.bidders-map {
    /* border: 2px dashed black; */
    padding: 30px;
  }

.bidders-map__wrapper {
    display: flex;
    flex-direction: column;
}

.bidders-map__heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.bidders-map__heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.bidders-map__help-icon {
  cursor: pointer;
}

.bidders-map__add-button {
    align-self: baseline;
    margin-top: 15px;
}

.bidders-map__item {
    display: inline-flex;
    padding: 3px;
}

.bidders-map__bidder-select {
    width: 150px;
    margin-right: 10px;
  }
  
  .bidders-map__campaign-id {
    max-width: 110px;
    margin-right: 10px;
  }

  .bidders-map__bidders-name {
    width: 110px;
    margin-right: 10px;
  }

.bidders-map__remove-button {

}