.bidders-map {
    /* border: 2px dashed black; */
    padding: 30px;
  }

.bidders-map__wrapper {
    display: flex;
    flex-direction: column;
}

.bidders-map__add-button {
    align-self: baseline;
}

.bidders-map__item {
    display: inline-flex;
    padding: 3px;
}

.bidders-map__bidder-select {
    width: 150px;
    margin-right: 10px;
  }
  
  .bidders-map__campaign-id {
    width: 90px;
    margin-right: 10px;
  }

  .bidders-map__bidders-name {
    width: 110px;
    margin-right: 10px;
  }

.bidders-map__remove-button {

}